@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*(grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
Global Styles
///////////////////////*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1C2B32;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/*////////////////////////
    2. Typography
////////////////////////*/

/*header {*/
/*    padding-top: 50px;*/
/*    background-image: url('/assets/images/mountains.jpg');*/
/*    background-size: auto; !* to make sure the image covers the header *!*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*}*/
header {
    background-image: url("../assets/images/mountains.jpg");
    background-size: cover;
    background-position: top;
}


.hero-content {
    padding: 50px 0 400px 0;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 110px;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 64px 0;
}

h1, h2 {
    text-align: center;
}
/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/

header {
    padding-top: 50px;
    background-image: url('/assets/images/mountains.jpg');
    background-size: auto; /* to make sure the image covers the header */
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    padding: 150px 0 400px 0;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

.hero-input {
    margin-top: 32px;
    background-color: transparent;
    color: #1C2B32;
    font-size: 18px;
    padding: 24px 32px;
    width: 350px;
    border: 2px solid #1C2B32;
    border-radius: 50px 0 0 50px;
    outline: transparent;
}

.hero-input::placeholder {
    color: #1C2B32;
    font-size: 18px;
}

.hero-btn {
    background-color: #1C2B32;
    color: #ffffff;
    font-size: 18px;
    padding: 24px 32px;
    border: 2px solid #1C2B32;
    border-radius: 0 50px 50px 0;
    outline: none;
    margin-left: -7px;
}

/*Testimonial Section >>> */

.testimonial-section {
    margin: 64px 0;
}

.testimonial-article {
    position: relative;
    padding: 64px 96px 64px 150px;
    margin: 64px 0px;
    border-radius: 12px;
    /* Shadow */
    box-shadow: 0 8px 18px 2px rgba(24, 39, 75, 0.12),
    0 6px 20px 4px rgba(24, 39, 75, 0.12);
}

.testimonial-quote {
    margin-bottom: 24px;
}

.testimonial-quote-icon {
    position: absolute;
    left: 100px;
    top: 64px;
}

.testimonial-avatar {
    width: 44px;
    height: 44px;
    vertical-align: middle;
}

.testimonial-name {
    display: inline;
    margin-left: 24px;
    font-style: italic;
}

/*///////////// 3.3 Support /////////////*/

.support-section {
    margin: 0px ;
}

.support-img {
    border-radius: 12px;
    width: 100%;
}

.support-info {
    margin: 24px 0;
}

.support-btn {
    color: #ffffff;
    background: #1C2B32;
    padding: 24px 32px;
    font-size: 14px;
    border: 2px solid #1C2B32;
    border-radius: 50px;
    outline: none;
}

/*///////////// 3.4 Faq /////////////*/

.faq-section {
    margin: 64px 0;
}

.faq-collapsable {
    padding: 24px 32px;
    color: #ffffff;
    background-color: #899CA0;
    border-radius: 12px;
}

.faq-details {
    margin-block: 24px;
}

.faq-summary {
    margin-bottom: 10px;
}

.faq-summary:hover {
    cursor: pointer;
}

/*///////////// 3.5 Footer /////////////*/

footer {
    background-color: #1C2B32;
    padding-block: 32px;
}

.footer-copyright {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}




